{
    "plugins": [
        "transform-runtime",
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ]
    ],
    "presets": [
        ["env", { "modules": false }],
        "stage-3"
    ]
  }
